<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO APP</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Todo App</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="todo"
          placeholder="Todo"
          id=""
          class="username"
          value="{{todo.todo}}"
        />
        <button type="submit">Edit</button>
      </form>
    </div>
  </body>
</html>
